extends layout

block content
  div.container-fluid.copypasta-info
    div.row.text-center
      h1 Partagez vos écrits instantanément !
    div.row.text-center
      div.col-md-6.col-xs-12
        div
          span.glyphicon.glyphicon-paste.icon
          p Collez votre texte, Validez
      div.col-md-6.col-xs-12
        div
          span.glyphicon.glyphicon-duplicate
          p Partagez le lien

  form.container(action="/copy", method='POST')
    textarea#text-input(name='text', placeholder="Votre texte ici", required="required")
    input#submit.btn.btn-success(type='submit')

