doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/purecss/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="scripts/copyClipboard.js")
  body
    div.container.text-center.titleContainer
      p Copy
      img.logo(src="images/pastalogo.png")
      p Pasta

    div.content
      block content
